@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply w-full text-neutral-700 text-center py-4 md:py-0 md:font-medium hover:bg-zinc-200 md:hover:bg-inherit rounded-md hover:text-primary transition;
    transition: all 0.2s ease-in-out !important;
  }
  .article-heading {
    @apply w-80 lg:w-96 mx-auto text-3xl text-center font-bold capitalize text-neutral-800 leading-snug;
  }
  .low-opacity {
    @apply text-3xl font-bold text-primary text-opacity-30 uppercase text-center tracking-wider;
  }
}

@layer component {
  /* Hamburger menu */
  .hamburger-icon {
    @apply z-40 md:hidden !important;
  }
  .hamburger-icon span {
    @apply h-[2px] block bg-black rounded-full;
    transition: all 0.2s ease-in-out !important;
    transform-origin: 6px;
  }

  /* Banner */
  .banner-carousel-item {
    @apply flex flex-col justify-between items-start gap-3;
  }
  .welcome-text {
    @apply text-primary uppercase sm:font-bold md:text-lg;
  }
  .banner-title {
    @apply text-5xl sm:text-6xl md:text-7xl lg:text-6xl font-bold text-neutral-800 leading-tight lg:leading-tight !important;
  }
  .banner-description {
    @apply text-sm md:text-lg text-neutral-800 leading-7;
  }
  .phone-icon {
    @apply w-10 h-10 p-2.5 fill-white bg-primary rounded-full;
  }
  .phone-number {
    @apply text-primary;
  }
  .phone-number-container {
    @apply flex items-center gap-2;
  }
  .contact-us-container {
    @apply flex flex-col md:flex-row gap-3;
  }

  /* Service */
  .service {
    @apply w-96 py-8 bg-white shadow-lg hover:shadow-xl transition rounded-lg flex-col items-center gap-8 !important;
  }
  .service-title {
    @apply text-lg font-bold text-neutral-900 !important;
  }
  .service-description {
    @apply text-sm text-neutral-600;
  }

  /* Projects */
  .project {
    @apply w-11/12 relative rounded-3xl overflow-hidden before:absolute before:-bottom-20 before:right-4 before:w-36 md:before:w-48 before:h-16 md:before:h-20 before:rounded-tl-2xl before:rounded-br-2xl before:cursor-pointer before:text-white before:text-sm before:bg-gradient-to-bl before:from-primary before:to-amber-600 before:flex before:items-center before:justify-center before:transition-all hover:brightness-90 hover:before:bottom-4 transition !important;
  }
  .project-photo {
    @apply w-full;
  }

  /* Counters */
  .counter {
    @apply flex flex-col justify-center items-center md:items-start gap-3;
  }
  .counter-number {
    @apply text-5xl font-bold text-neutral-800 !important;
  }
  .counter-title {
    @apply text-primary;
  }
  .counter-caption {
    @apply text-neutral-700 md:text-sm;
  }

  /* Plans */
  .plan {
    @apply w-80 bg-white shadow-lg hover:shadow-xl z-10 rounded-2xl flex flex-col items-center justify-center gap-4 py-8 transition !important;
  }
  .plan-type {
    @apply font-bold capitalize text-lg text-neutral-800 !important;
  }
  .plan-main-price {
    @apply text-primary decoration-1 line-through text-sm;
  }
  .plan-discounted-price {
    @apply text-primary text-4xl font-bold !important;
  }
  .plan-properties {
    @apply flex flex-col items-center gap-3 text-neutral-500 text-sm;
  }

  /* Contact */
  .contact-form-input {
    @apply w-full pb-2 bg-inherit text-rose-600 placeholder:text-rose-300 border-b border-b-primary focus:outline-none !important;
  }

  /* Footer */
  .footer-links {
    @apply text-sm text-gray-500 hover:text-gray-900 transition !important;
  }
  .footer-heading {
    @apply font-bold text-gray-800 mb-3 capitalize;
  }
  .social-icon {
    @apply fill-white w-8 h-8 p-2 rounded-full bg-secondary hover:bg-primary cursor-pointer transition duration-300 !important;
  }
}

@layer utilities {
  .button-type1 {
    @apply px-4 py-2 text-white bg-secondary hover:bg-primary capitalize rounded-full transition duration-300 shadow-md hover:shadow-lg;
  }
  .button-type2 {
    @apply px-4 py-2 text-white bg-primary hover:bg-secondary capitalize rounded-full transition duration-300 shadow-md hover:shadow-lg;
  }
}
